/* .input {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 747px;
    background-color: rgba( 230, 126, 34);
    justify-content: center;
    border-radius: 10px;
    transition: 1s;
    padding: 10px;
    overflow: hidden;
  }
  
  .value {
    font-size: 15px;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: black;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
    box-sizing: border-box;
  }
  
  .value:not(:active):hover,
  .value:focus {
    display: flex;
    box-sizing: border-box;
    border: none;
    color: #090909;
  }
  
  .value:focus,
  .value:active {
    background-color:  #d35400 ;
    outline: none;
    margin-left: 17px;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -15px;
    width: 5px;
    height: 80%;
    background-color: #0d0d0e;
    border-radius: 5px;
    opacity: 0;
    transition: 1s;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
  }
  
  .value svg {
    width: 20px;
  }
  
  .input:hover > :not(.value:hover) {
    transition: 300ms;
    filter: blur(1.5px);
    transform: scale(0.95, 0.95);
  }
   */


.navbar-toggler {
    background-color: rgb(248, 246, 246);
    border-radius: none;
    box-shadow: 5px solid rgb(12, 12, 12);
}

.navbar-toggler-icon {
    background-color: rgb(252, 250, 250);
    margin: 3px;
}

.navbar {
    background-image: url();
}

.navbar-brand {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
}