.table {

    text-align: center;
}



button {

    background-color: #fefdfd;
    color: #080808;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}
