.empleado-container {

    position: fixed;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to bottom, white, #d35400);*/

}

.empleado-form{
    
    margin-top: 30px;
    margin-left: 200px;
    padding-top: 20px;
    padding-left: 300px;
    width: 1000px;
    height: 600px;
    background-color: rgba(253, 249, 249, 0.3);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(211, 84, 0, 0.7)  ;
     
}

h3 {
    padding-top: 20px;
    padding-left: 550px;
}
#enviar {

    margin-top: 30px;
    background-color: #e67e22 ;
    width: 300px;
    color:#fff;
    border: 0px;
    border-radius: 10px;
    text-align: center;
}

#enviar:hover{

    background-color: rgba( 237, 187, 153, 0.7);
}
 /*h3 {
    
    padding-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
 }*/

 .form-control{
    
    margin-bottom: 10px;
    width: 900px;
 }
select {

    height: 40px;
    border-radius: 20px;
}

option:hover{

    background-color: rgba(237, 187, 153, 0.0);
}
label {

    margin-top: 10px;
}
 body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url(img/fondolog.jpg);
    background-size: cover; /* Para ajustar el tamaño de la imagen */
    background-position: center;
}

.login-container {
    width: 300px;
}

.login-form {
    background-color: rgba(253, 249, 249, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(4, 0, 0, 0.7);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d35400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}